body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 80vh;
}

.login-box {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 50px; 
}
.login-box h2{
    text-align: center;
}