body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 80vh;
}

.login-box {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 50px; 
}
.login-box h2{
    text-align: center;
}

.alert-login {
    padding-top: 3px;
    justify-content: center;
    text-align: center;
    opacity: 1 !important;
    /* Adicionando posicionamento absoluto em relação ao contêiner do formulário */
    position: absolute;
    top: 0;
    height: 17%;
    right: 10%;
    width: 70%;
    /* Ajustando margens conforme necessário */
    margin-top: -20px; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Ajuste conforme necessário */
}