@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container-body {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo {
    font-size: 32px;
    color: seagreen;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: seagreen;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(22, 66, 41);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}


h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alert {
    position: fixed;
    top: 80px; /* Adjust as needed */
    left: 48%;
    transform: translateX(-50%);
    max-width: 500px; /* Adjust as needed */
    z-index: 999;
    margin: 0 auto; /* Ensure alerts appear above other content */
}

/* Estilo específico para a mensagem de sucesso */
.alert-success {
    background: #28a745; /* Cor de fundo para mensagens de sucesso */
    color: #fff; /* Cor do texto para mensagens de sucesso */
}

/* Estilo específico para a mensagem de erro */
.alert-danger {
    background: #dc3545; /* Cor de fundo para mensagens de erro */
    color: #fff; /* Cor do texto para mensagens de erro */
}

.close{
    margin-left: 10px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.footer-watermark-1 {
    position: absolute;
    right: 1%;
    bottom: 0; /* Ajuste a posição conforme necessário */
    transform: translateX(-50%); /* Centralizar horizontalmente */
    opacity: 0.5;
    animation: fadeIn 1.5s;/* Ajuste a opacidade conforme necessário */
}

.image-background {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    right: 0; /* Position to the right */
    width: 30%; /* Largura relativa */
    height: 30%; /* Altura relativa */
    background: url('image-home.jpg') no-repeat center center; /* Remove 'fixed' */
    background-size: contain;
    opacity: 0.9;
    z-index: 0;
    animation: fadeIn 1.5s;
}

.footer-watermark-2 {
    position: absolute;
    left: 14%;
    bottom: 0; /* Ajuste a posição conforme necessário */
    transform: translateX(-50%); /* Centralizar horizontalmente */
    opacity: 0.5;
    animation: fadeIn 3s; /* Ajuste a opacidade conforme necessário */
}

.image-background-2 {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position to the right */
    width: 30%; /* Largura relativa */
    height: 30%; /* Altura relativa */
    background: url('image-home-2.jpg') no-repeat center center; /* Remove 'fixed' */
    background-size: contain;
    opacity: 0.9;
    z-index: 0;
    animation: fadeIn 3s;
}