{% extends "layout/base.html" %} 
{% block stylesheets %}
<link rel="stylesheet" href="static/config.css">
{% endblock stylesheets %}
{% block content %}
<section class="container">
    <label>Usuário</label>
    <input type="text" class="input_default" value="{{user.username}}">
    <label>Email</label>
    <input type="text" class="input_default" value="{{user.email}}">
    <button type="button" class="btn">Resetar senha</button>
    <div class="row">
        <h2 class="col textt-left">Aqui você simula  como <br>irá ser seu futuro<br><i class="fa fa-gift" aria-hidden="true"></i> </h2>
        <button type="button" class="col btn">SIMULE JÁ</button>
        <h2 class="col textt-right">Planeje seu investimento para<br>se aponsentar a sua maneira</h2>
    </div>
</section>
{% endblock %}