
{% extends "layout/background.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="static/login.css">
<link rel="stylesheet" href="static/styles.css">
<link rel="stylesheet" href="static/sign_up.css">
{% endblock stylesheets %}{% block content %}

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category =='error'%}
                <div class="alert-login alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close manual-close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else%}
                <div class="alert-login alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close manual-close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif%}
                {% endfor %}
            {% endif%}
            {% endwith %}
            <form method="POST">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" placeholder="Digite seu email">
                </div>

                <div class="input-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha"required>
                </div>

                <button type="submit">Entrar</button>
            </form>
            <p>Ainda não tem uma conta? <a href="/sign-up">Cadastre-se</a></p>
        </div>
    </div>


</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var alertCloseButtons = document.querySelectorAll('.manual-close');

        alertCloseButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var alert = button.parentElement; // Obtém o elemento pai do botão (o alerta)
                alert.style.display = 'none'; // Oculta o alerta definindo o estilo display como 'none'
            });
        });
    });
</script>
{% endblock %}