{% extends "layout/base.html" %} 
{% block stylesheets %}
<link rel="stylesheet" href="static/home.css">
{% endblock stylesheets %}
{% block content %}
<section class="container">
    <div class="row">
        <h1 class="col title" >Venha simular sua previdência</h1>
    </div>
    <div class="row">
        <h2 class="col textt-left">Aqui você simula  como <br>irá ser seu futuro<br><i class="fa fa-gift" aria-hidden="true"></i> </h2>
        <a href="/simulate_pvd" ><button type="button" class="col btn" >SIMULE JÁ</button></a>
        <h2 class="col textt-right">Planeje seu investimento para<br>aponsentar-se a sua maneira</h2>
    </div>
</section>
{% endblock %}