{% extends "layout/base.html" %} 
{% block stylesheets %}
<link rel="stylesheet" href="static/config.css">
{% endblock stylesheets %}
{% block content %}
<section class="container">
    <div class="config-box">
        {% if current_user.is_authenticated %}
            <form method="POST">
                <div class="input-group">
                    <label for="email">E-mail cadastrado</label>
                    <input type="text" class="input_default" value="{{ user.email }}" name="email" disabled> 
                </div>
                <div class="input-group">
                    <label for="password">Nova senha</label>
                    <input type="password" id="password" name="password"  required>
                </div>

                <div class="input-group">
                    <label for="password">Confirme a senha</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <button class='submit'type="submit">Salvar</button>
            </form>
        {% else %}
            <form method="POST">
                <div class="input-group">
                    <label for="email">E-mail cadastrado</label>
                    <input type="email" class="input_default"  name="email" placeholder="Digite seu e-mail" required> 
                </div>
                <button class='submit'type="submit">Enviar reset</button>
            </form>
        {% endif %}
    </div>
</section>
{% endblock %}